html {
  display: flex;
  height: 100%;
}

body {
  border: 10vw solid black;
  color: white;
  font: normal 15vw sans-serif;
  margin: 0;
  overflow: hidden;
  text-align: center;
  text-shadow: 0 0 2vw black, 0 0 10vw black;
}
